---
import "../styles/post.css";
const { frontmatter } = Astro.props;

// 日付を日本語で整形したい場合は下記を利用
// const formattedDate = new Date(date).toLocaleDateString('ja-JP', { year: 'numeric', month: 'long', day: 'numeric' });
---

<article class="post-body">
  <header>
    <p class="post-meta">
      <span>by {frontmatter.author}</span>
      <span> | </span>
      <span>{frontmatter.date}</span>
      {
        /*
      <span>{formattedDate}</span>
      */
      }
    </p>
  </header>
  <slot />
</article>

<style>
  h1 {
    /* font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em; */
    --ab-text-headline-l: ;
  }
  h2 {
    --ab-text-headline-m: ;
  }
  a {
    color: white;
  }
</style>
