---
import '../styles/post.css';
const { date, author, title } = Astro.props;
---

<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <style><!--
      /* もし global.css と分けたい場合はここでインラインもOK */
    --></style>
  </head>
  <body>
    <article class="post-body">
      <header>
        <p class="post-meta">
          <span>by {author}</span>
          <span> | </span>
          <span>{date}</span>
        </p>
      </header>
      <slot />
    </article>
  </body>
</html>

