---
import "../styles/post.css";
const { date, author } = Astro.props;

// 日付を日本語で整形したい場合は下記を利用
// const formattedDate = new Date(date).toLocaleDateString('ja-JP', { year: 'numeric', month: 'long', day: 'numeric' });
---

<article class="post-body">
  <header>
    <p class="post-meta">
      <span>by {author}</span>
      <span> | </span>
      <span>{date}</span>
      {
        /*
      <span>{formattedDate}</span>
      */
      }
    </p>
  </header>
  <slot />
</article>
