---
import '../styles/post.css';
---

<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <style><!--
      /* もし global.css と分けたい場合はここでインラインもOK */
    --></style>
  </head>
  <body>
    <article class="post-body">
      <slot />
    </article>
  </body>
</html>

